---
import DecryptedText from '@/components/ui/animated/DecryptedText'
import Mision from './Mision'
import RotatingText from '@/components/ui/animated/RotatingText'
import KeepScrolling from '@/assets/keep-scrolling.svg'
---

<!-- HERO -->
<div
  class="relative flex flex-col-reverse items-center md:flex-row"
  id="hero"
>
  <div class="row items-center  py-5  ">
    <div class="text-center space-y-10">
      <!-- <h1 class="text-5xl font-bold uppercase leading-none text-primary-a0 dark:text-neutral-a0 md:text-6xl">
        Preserva. Comparte. Descubre.
      </h1> -->
        <!-- <DecryptedText
  text="Preserva. Comparte. Descubre."
  animateOn="view"
  className="text-5xl font-bold uppercase leading-none text-primary-a0 dark:text-neutral-a0 md:text-6xl"
  revealDirection="center"
  client:load
/> -->

<div class="flex flex-col">
  <div class="flex flex-col md:flex-row justify-center items-center gap-3 h-screen w-full overflow-hidden text-center ">
  <h1 class="text-4xl font-semibold text-accent-a0 dark:text-success-a0">Con BeelPedia</h1>
  <RotatingText client:load
  texts={['Preserva.', 'Comparte.', 'Descubre.', '!Se un heroe!']}
  mainClassName="px-2 text-6xl sm:px-2 md:px-3 bg-primary-a30 text-white uppercase overflow-hidden py-0.5 sm:py-1 md:py-2 justify-center rounded-lg"
  staggerFrom={"last"}
  initial={{ y: "100%" }}
  animate={{ y: 0 }}
  exit={{ y: "-120%" }}
  staggerDuration={0.025}
  splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
  transition={{ type: "spring", damping: 30, stiffness: 400 }}
  rotationInterval={2000}
/>

</div>
<KeepScrolling
      class="inline-block bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"
    />
</div>

      <p
        class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12 text-neutral-a30 
               dark:text-neutral-a0"
      >
        BeelPedia es una plataforma colaborativa que funciona como enciclopedia
        digital del patrimonio cultural. Aquí, estudiantes, investigadores y ciudadanos
        pueden documentar, preservar y difundir tradiciones, historias y expresiones
        culturales con el apoyo de herramientas multimedia, geolocalización e
        inteligencia artificial.
      </p>
      <a href="https://485z3n3rwf9.typeform.com/to/Gd6X7ze8">
        <button
          class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] 
                 focus:outline-none focus:ring-2 focus:ring-accent-a0 
                 focus:ring-offset-2 focus:ring-offset-background-base 
                 transition-transform duration-300 ease-in-out hover:scale-105"
        >
          <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] 
                   bg-[conic-gradient(from_90deg_at_50%_50%,#065f46_0%,#f97316_50%,#065f46_100%)]"
          ></span>
          <span
            class="inline-flex h-full w-full cursor-pointer items-center justify-center 
                   rounded-full bg-accent-a0 dark:bg-accent-a10 px-8 py-1 
                   text-sm font-medium text-neutral-a0 dark:text-neutral-a50 backdrop-blur-3xl"
          >
            ¡Explora BeelPedia!
          </span>
        </button>
      </a>
    </div>
    </div>
  </div>
</div>

<!-- MISIÓN / VISIÓN / VALORES -->
<Mision client:load />

<style>
  œkeyframes bounce-pulse {
    0% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
    50% {
      transform: translateY(-5px);
      scale: 1;
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
  }
</style>