<div class="py-14">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <h3 class="font-semibold text-sm text-gray-600 text-center uppercase">
            Estas empresas confian en BeelTravel
        </h3>
        <div class="mt-6">
            <ul
                class="flex gap-x-10 gap-y-6 flex-wrap items-center justify-center md:gap-x-16"
            >
                <li>
                    <img
                        src="/profiles-agencys/altas-montañas-veracruz.jpg"
                        alt="Logo"
                        class="w-28"
                    />
                </li>

                {/* LOGO 2 */}
                <li>
                    <img
                        src="/profiles-agencys/logo_pt.png"
                        class="w-28"
                        alt="Logo"
                    />
                </li>

                {/* LOGO 3 */}
                <li>
                    <img
                        src="/profiles-agencys/mexicodesconocido.svg"
                        class="w-28"
                        alt="Logo"
                    />
                </li>

                {/* LOGO 4 */}
                <li>
                    <img
                        src="/profiles-agencys/m-esp.svg"
                        class="w-28 invert-color"
                        alt="Logo"
                    />
                </li>

                {/* LOGO 5*/}
                <li>
                    <img
                        src="/profiles-agencys/red-turismo.svg"
                        class="w-28 invert-color"
                        alt="Logo"
                    />
                </li>
            </ul>
        </div>
    </div>
</div>
